@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap");

*,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  background: linear-gradient(0deg, #202225 66.33%, #1a1c1e 33.33%);
}

.sub-header {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 25px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 30px;
}

.sub-header a {
  color: #646464;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  max-width: 1920px;
}

.sub-header a:hover {
  text-decoration: underline;
}

.buttom-header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  max-width: 1920px;
  margin: 0 auto;
  gap: 35px;
}

.buttom-header .buttom-header-1 {
  display: flex;
  align-items: center;
  gap: 35px;
}

.buttom-header div .img-wrapper {
  height: 40px;
}

.buttom-header div .img-wrapper img {
  height: 40px;
  width: 40px;
}

.buttom-header div .img-wrapper img:hover {
  cursor: pointer;
}

.buttom-header div .header-title-wrapper {
  display: flex;
  align-items: center;
  gap: 35px;
}

.buttom-header div .header-title-wrapper a {
  color: #e5e5e5;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.buttom-header div .header-title-wrapper a:hover {
  text-decoration: underline;
}

.buttom-header .buttom-header-2 {
  display: flex;
  align-items: center;
  gap: 15px;
}

.buttom-header .buttom-header-2 .img-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.buttom-header .buttom-header-2 .img-wrapper div {
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  background: #282b2f;
}

.buttom-header .buttom-header-2 .img-wrapper div img {
  width: 17px;
  height: 17px;
}

.buttom-header .buttom-header-2 .avatar-frame {
  height: 60px;
  width: 245px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  background: #282b2f;
  padding: 5px;
  gap: 15px;
}

.buttom-header .buttom-header-2 .avatar-frame .img-wrapper {
  height: 58px;
  width: 63px;
  border-radius: 4px;
}

.buttom-header .buttom-header-2 .avatar-frame .img-wrapper img {
  height: 58px;
  width: 63px;
  border-radius: 4px;
  object-fit: cover;
}

.buttom-header .buttom-header-2 .avatar-frame h4 {
  text-transform: capitalize;
  color: #e5e5e5;
  font-weight: bold;
  font-size: 20px;
}

.buttom-header .buttom-header-2 .avatar-frame p {
  text-transform: capitalize;
  color: #e5e5e5;
  font-weight: 400;
  font-size: 13px;
  padding-left: 15px;
}

.buttom-header .buttom-header-2 .avatar-frame p::after {
  position: absolute;
  content: "";
  background: #39b824;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  margin-left: -60px;
  margin-top: 2px;
}

.buttom-header .buttom-header-2 .avatar-frame .drop-down {
  padding-left: 20px;
  cursor: pointer;
}

.home_item2 {
  margin: 0 auto;
  height: 628px;
}

.home_item2 img {
  width: 100%;
  height: 628px;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.home_item2 .search-tab {
  padding-top: 54px;
  position: absolute;
  top: 120px;
  width: 100%;
}

.home_item2 .search-tab .container {
  max-width: 1713px;
  height: 67px;
  margin: 0 auto;
  border-radius: 40px;
  background: linear-gradient(204deg, #192c3e 65.53%, #000 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home_item2 .search-tab .container div a {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  text-transform: capitalize;
  padding-left: 40px;
}

.home_item2 .search-tab .container .search-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-right: 30px;
}

.home_item2 .search-tab .container .search-wrapper input {
  width: 373px;
  height: 47px;
  border-radius: 37px;
  background: #316282;
  outline: none;
  padding-left: 30px;
  border: 0;
}

.home_item2 .search-tab .container .search-wrapper input:active {
  outline: none;
}

.home_item2 .search-tab .container .search-wrapper input::placeholder {
  color: #6591ad;
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
}

.home_item2 .search-tab .container .search-wrapper .search {
  width: 47px;
  height: 47px;
  border-radius: 37px;
  background: #316282;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.home_item2 .search-tab .container .search-wrapper .search img {
  width: 22px;
  height: 22px;
  z-index: 1;
}

.home-btn {
  top: 550px;
  position: absolute;
  width: 100%;
}

.home-btn .container {
  background-image: url("./img/icons/banner-btn.svg");
  margin: 0 66%;
  width: 349px;
  height: 67px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.home-btn .container .text-wrapper {
  width: 299px;
  height: 67px;
}

.home-btn .container .text-wrapper p {
  color: #ece401;
  font-family: Monomaniac One;
  font-size: 43px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.home_item3 {
  /* background: linear-gradient(90deg, #0e1924 50%, #192c3e 50%); */
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.home_item3 .container .gift-card-section {
  max-width: 303px;
  background: #0e1924;
  padding-top: 49px;
}

.home_item3 .container .gift-card-section .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 42px;
}

.home_item3 .container .gift-card-section .title h2 {
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.home_item3 .container .gift-card-section .title p {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home_item3 .container .gift-card-section .price {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 31px 0 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home_item3 .container .gift-card-section .price .number {
  height: 29px;
  background: #192c3e;
  padding: 2px 8px 1px 8px;
}

.home_item3 .container .gift-card-section .price .number h2 {
  color: #fff;
  font-feature-settings: "case" on;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.home_item3 .container .gift-card-section .price .dot {
  background: #fff;
  height: 6px;
  width: 6px;
  border-radius: 100%;
  margin: 0 9px;
}

.home_item3 .container .gift-card-section .btn-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home_item3 .container .gift-card-section .btn-wrap button {
  padding: 7px 27px;
  height: 32px;
  background: #192c3e;
  border: none;
  cursor: pointer;
  color: #fff;
  font-feature-settings: "case" on;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.home_item3 .container .gift-card-section .card-details-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 9px;
}

.home_item3 .container .gift-card-section .card-details-wrap p {
  text-transform: capitalize;
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.home_item3 .container .gift-card-section .gift-card-hr {
  background-image: url("./img/icons/gift-card-hr.svg");
  margin: 48px auto;
  height: 2px;
  width: 56px;
}

.home_item3 .container .gift-card-section .sub-heading-link-wrap {
  margin: 20px 16px;
  display: flex;
  flex-direction: column;
}

.home_item3 .container .gift-card-section .sub-heading-link-wrap h3 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.home_item3 .container .gift-card-section .sub-heading-link-wrap a {
  color: #51d3ff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  text-transform: capitalize;
  padding-bottom: 3px;
}

.home_item3 .container .feature-recommded-section {
  width: 1617px;
  background: #192c3e;
  padding: 49px 90px;
}

.home_item3 .container .feature-recommded-section .title h2 {
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.home_item3 .container .feature-recommded-section .recomended-wrapper2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 27px;
}

.home_item3
  .container
  .feature-recommded-section
  .recomended-wrapper2
  .recomanded-banner-wrap {
  width: 954px;
  height: 543px;
  position: relative;
}

.home_item3
  .container
  .feature-recommded-section
  .recomended-wrapper2
  .recomanded-banner-wrap
  img {
  width: 954px;
  height: 543px;
  object-fit: cover;
}

.home_item3
  .container
  .feature-recommded-section
  .recomended-wrapper2
  .recomanded-banner-wrap
  .btn-container
  .btn {
  height: 24px;
  width: 133px;
  background: #0e1924;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.home_item3
  .container
  .feature-recommded-section
  .recomended-wrapper2
  .recomanded-banner-wrap
  .btn-container
  .windows-icon-wrap {
  height: 24px;
  background: #0e1924;
  width: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.home_item3
  .container
  .feature-recommded-section
  .recomended-wrapper2
  .recomanded-banner-wrap
  .btn-container {
  position: absolute;
  top: 35px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.home_item3
  .container
  .feature-recommded-section
  .recomended-wrapper2
  .recomanded-banner-wrap
  .btn-container
  .btn
  h4 {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.home_item3
  .container
  .feature-recommded-section
  .recomended-wrapper2
  .recomanded-banner-wrap
  .btn-container
  .windows-icon-wrap
  .windows-icon {
  background-image: url("./img/icons/windows-icon.svg");
  height: 14px;
  width: 14px;
}

.home_item3
  .container
  .feature-recommded-section
  .recomended-wrapper2
  .recomanded-banner-wrap
  .btn2 {
  bottom: 149px;
  height: 35px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home_item3
  .container
  .feature-recommded-section
  .recomended-wrapper2
  .recomanded-banner-wrap
  .btn2
  .discount-percentage {
  width: 76px;
  height: 34px;
  background: #2a8002;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_item3
  .container
  .feature-recommded-section
  .recomended-wrapper2
  .recomanded-banner-wrap
  .btn2
  .discount-percentage
  p {
  color: #52ff00;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.home_item3
  .container
  .feature-recommded-section
  .recomended-wrapper2
  .recomanded-banner-wrap
  .btn2
  .real-data {
  width: 192px;
  height: 34px;
  background: #0e1924;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home_item3
  .container
  .feature-recommded-section
  .recomended-wrapper2
  .recomanded-banner-wrap
  .btn2
  .real-data
  div
  div
  p {
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: line-through;
}

.home_item3
  .container
  .feature-recommded-section
  .recomended-wrapper2
  .recomanded-banner-wrap
  .btn2
  .real-data
  div
  p {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.home_item3
  .container
  .feature-recommded-section
  .recomended-wrapper2
  .recomanded-banner-wrap
  .buttom-title-description {
  bottom: 27px;
  padding-left: 38px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home_item3
  .container
  .feature-recommded-section
  .recomended-wrapper2
  .recomanded-banner-wrap
  .buttom-title-description
  .buttom-headeing {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  bottom: 76px;
  text-transform: capitalize;
}

.home_item3
  .container
  .feature-recommded-section
  .recomended-wrapper2
  .recomanded-banner-wrap
  .buttom-title-description
  .buttom-description {
  color: #9f9f9f;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  bottom: 27px;
  text-transform: capitalize;
  max-width: 700px;
}

.home_item3
  .container
  .feature-recommded-section
  .recomended-wrapper2
  .recomended-card-container {
  width: 409px;
  height: 483px;
  background: #0e1924;
  padding: 30px 22px;
  position: relative;
}
.home_item3
  .container
  .feature-recommded-section
  .recomended-wrapper2
  .recomended-card-container
  .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home_item3
  .container
  .feature-recommded-section
  .recomended-wrapper2
  .recomended-card-container
  .row
  .like-btn {
  width: 86px;
  height: 86px;
  border-radius: 10px;
  background: #192c3e;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.home_item3
  .container
  .feature-recommded-section
  .recomended-wrapper2
  .recomended-card-container
  .row
  .steam-btn {
  cursor: pointer;
}

.home_item3
  .container
  .feature-recommded-section
  .recomended-wrapper2
  .recomended-card-container
  .row
  .title-description {
  gap: 4px;
  display: flex;
  flex-direction: column;
}

.home_item3
  .container
  .feature-recommded-section
  .recomended-wrapper2
  .recomended-card-container
  .row
  .title-description
  h3 {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.home_item3
  .container
  .feature-recommded-section
  .recomended-wrapper2
  .recomended-card-container
  .row
  .title-description
  p {
  color: #978787;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.home_item3
  .container
  .feature-recommded-section
  .recomended-wrapper2
  .recomended-card-container
  .post-details-wrap {
  padding-top: 41px;
  position: relative;
}

.home_item3
  .container
  .feature-recommded-section
  .recomended-wrapper2
  .recomended-card-container
  .post-details-wrap
  .post-time {
  color: #978787;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 7px;
}

.home_item3
  .container
  .feature-recommded-section
  .recomended-wrapper2
  .recomended-card-container
  .post-details-wrap
  .post-description {
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 425;
  line-height: normal;
  padding-bottom: 14px;
}

.home_item3
  .container
  .feature-recommded-section
  .recomended-wrapper2
  .recomended-card-container
  .post-details-wrap
  .post-read-more {
  color: #978787;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.home_item3
  .container
  .feature-recommded-section
  .recomended-wrapper2
  .recomended-card-container
  .post-review {
  color: #978787;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  max-width: 222px;
  bottom: 30px;
}

.home_item3 .container .feature-recommded-section .row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  padding: 30px 0 90px;
}

.home_item3 .container .feature-recommded-section .row2 .img-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.home_item3
  .container
  .feature-recommded-section
  .row2
  .img-container
  .img-wrap {
  width: 303px;
  height: 181px;
}

.home_item3
  .container
  .feature-recommded-section
  .row2
  .img-container
  .img-wrap
  img {
  width: 303px;
  height: 181px;
  object-fit: cover;
}

.home_item3 .container .feature-recommded-section .row2 .btn-container {
  min-width: 453px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home_item3 .container .feature-recommded-section .row2 .btn-container .row3 {
  display: flex;
  flex-flow: row wrap;
  gap: 12px;
  cursor: pointer;
}

.home_item3
  .container
  .feature-recommded-section
  .row2
  .btn-container
  .row3
  .sm-btn {
  height: 30px;
  border-radius: 73px;
  background: #0e1924;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.home_item3
  .container
  .feature-recommded-section
  .row2
  .btn-container
  .row3
  .sm-btn
  p {
  color: #5f8fc0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.home_item3
  .container
  .feature-recommded-section
  .row2
  .btn-container
  .big-btn {
  width: 453px;
  height: 79px;
  background: #2a8002;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.home_item3
  .container
  .feature-recommded-section
  .row2
  .btn-container
  .big-btn
  h2 {
  color: #52ff00;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 13px 0;
}

.home_item3
  .container
  .feature-recommded-section
  .row2
  .btn-container
  .big-btn
  p {
  color: #52ff00;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.home_item3 .container .feature-recommded-section .recomanded-banner-wrap2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.home_item3
  .container
  .feature-recommded-section
  .recomanded-banner-wrap2
  .row4
  .container
  .box-container
  .row5 {
  position: absolute;
}
